<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Science/blob/main/Assignment1_Q20_Ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy.stats as stats
from pandas import DataFrame
df= DataFrame
cars=pd.read_csv("/content/Cars.csv")
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
cars['MPG'].mean()

34.422075728024666

In [ ]:
cars['MPG'].std()

9.131444731795982

In [ ]:
#p(MPG>38)
a=stats.norm.cdf(38,34.4221,9.13144)
a

0.6524051677966245

In [ ]:
#p(MPG<40)
b=stats.norm.cdf(40,34.4221,9.13144)
b

0.7293491010658529

In [ ]:
#p(20<MPG<50)
c=stats.norm.cdf(50,34.4221,9.13144)-stats.norm.cdf(20,34.4221,9.13144)
c

0.8988691502651475