<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Science/blob/main/Assignment1_Q12_Ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy import stats
scores=pd.read_excel("/content/Q12.xlsx")
scores

    34
0   36
1   36
2   38
3   38
4   39
5   40
6   40
7   41
8   41
9   41
10  41
11  41
12  42
13  42
14  45
15  49
16  56

In [2]:
scores.mean()

34    41.529412
dtype: float64

In [3]:
scores.median()

34    41.0
dtype: float64

In [4]:
scores.std()

34    4.849196
dtype: float64

In [5]:
scores.var()

34    23.514706
dtype: float64