<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Science/blob/main/Hypothesis_Testing_Q4_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import stats

In [2]:
cof=pd.read_csv('/content/Costomer+OrderForm.csv')
cof

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
cof.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
cof.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [6]:
cof1=pd.get_dummies(cof)
cof1

     Phillippines_Defective  ...  India_Error Free
0                         0  ...                 1
1                         0  ...                 0
2                         0  ...                 1
3                         0  ...                 1
4                         0  ...                 1
..                      ...  ...               ...
295                       0  ...                 1
296                       0  ...                 1
297                       0  ...                 1
298                       0  ...                 1
299                       0  ...                 1

[300 rows x 8 columns]

In [7]:
from scipy.stats import chi2_contingency

In [8]:
chi_val, p_val, dof, expected=chi2_contingency(cof1)
chi_val, p_val, dof, expected

(1200.0,
 1.0,
 2093,
 array([[0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        ...,
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333],
        [0.09666667, 0.90333333, 0.11      , ..., 0.89666667, 0.06666667,
         0.93333333]]))