<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Science/blob/main/Hypothesis_Testing_Q2_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import stats

In [2]:
Labtat=pd.read_csv('/content/LabTAT.csv')
Labtat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [3]:
Labtat.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [4]:
from scipy import stats

In [6]:
rvs1=stats.norm.rvs(loc=178.36,scale=13.17,size=120)
rvs2=stats.norm.rvs(loc=178.90,scale=14.95,size=120)
rvs3=stats.norm.rvs(loc=199.91,scale=16.53,size=120)
rvs4=stats.norm.rvs(loc=163.68,scale=15.08,size=120)

In [7]:
stats.f_oneway(rvs1,rvs2,rvs3,rvs4)

F_onewayResult(statistic=96.59213182188243, pvalue=7.692665416205497e-49)