<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Science/blob/main/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

In [19]:
Salary_train=pd.read_csv('/content/SalaryData_Train.csv')
Salary_train.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [20]:
Salary_train.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [21]:
columns=['age', 'workclass', 'education', 'educationno', 'maritalstatus','occupation', 'relationship', 'race', 'sex', 'capitalgain',
         'capitalloss', 'hoursperweek', 'native', 'Salary']

In [22]:
Salary_train=Salary_train.drop(columns=['educationno','occupation', 'relationship', 'race','native','workclass','education','maritalstatus','sex'])
Salary_train.head()

   age  capitalgain  capitalloss  hoursperweek  Salary
0   39         2174            0            40   <=50K
1   50            0            0            13   <=50K
2   38            0            0            40   <=50K
3   53            0            0            40   <=50K
4   28            0            0            40   <=50K

In [23]:
X=Salary_train.iloc[:,:4]
y=Salary_train.iloc[:,4]

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [25]:
from sklearn.naive_bayes import GaussianNB

In [26]:
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [27]:
Salary_test=pd.read_csv('/content/SalaryData_Test.csv')

In [28]:
Salary_test=Salary_test.drop(columns=['educationno','occupation', 'relationship', 'race','native','workclass','education','maritalstatus','sex'])
Salary_test.head()

   age  capitalgain  capitalloss  hoursperweek  Salary
0   25            0            0            40   <=50K
1   38            0            0            50   <=50K
2   28            0            0            40    >50K
3   44         7688            0            40    >50K
4   34            0            0            30   <=50K

In [29]:
X=Salary_test.iloc[:,:4]
y=Salary_test.iloc[:,4]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [30]:
from sklearn.metrics import accuracy_score
y_pred=model.predict(X_test)
accuracy_score(y_test,y_pred)

0.7858565737051793

In [31]:
model.predict_proba(X_test)

array([[0.99086321, 0.00913679],
       [0.96979849, 0.03020151],
       [0.99016756, 0.00983244],
       ...,
       [0.98246945, 0.01753055],
       [0.98533284, 0.01466716],
       [0.01021531, 0.98978469]])