<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Science/blob/main/Random_Forests_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')

In [ ]:
fraud=pd.read_csv('/content/Fraud_check.csv')
fraud

    Undergrad Marital.Status  ...  Work.Experience  Urban
0          NO         Single  ...               10    YES
1         YES       Divorced  ...               18    YES
2          NO        Married  ...               30    YES
3         YES         Single  ...               15    YES
4          NO        Married  ...               28     NO
..        ...            ...  ...              ...    ...
595       YES       Divorced  ...                7    YES
596       YES       Divorced  ...                2    YES
597        NO       Divorced  ...                0    YES
598       YES        Married  ...               17     NO
599        NO       Divorced  ...               16     NO

[600 rows x 6 columns]

In [ ]:
#create new column
fraud["Tax"] = pd.cut(fraud["Taxable.Income"], bins = [10002,30000,99620], labels = ["Risky", "Good"])
fraud

    Undergrad Marital.Status  Taxable.Income  ...  Work.Experience  Urban   Tax
0          NO         Single           68833  ...               10    YES  Good
1         YES       Divorced           33700  ...               18    YES  Good
2          NO        Married           36925  ...               30    YES  Good
3         YES         Single           50190  ...               15    YES  Good
4          NO        Married           81002  ...               28     NO  Good
..        ...            ...             ...  ...              ...    ...   ...
595       YES       Divorced           76340  ...                7    YES  Good
596       YES       Divorced           69967  ...                2    YES  Good
597        NO       Divorced           47334  ...                0    YES  Good
598       YES        Married           98592  ...               17     NO  Good
599        NO       Divorced           96519  ...               16     NO  Good

[600 rows x 7 columns]

In [ ]:
#get dummies for categorical variables
fraud=pd.get_dummies(fraud.iloc[:,0:7])
fraud

     Taxable.Income  City.Population  ...  Tax_Risky  Tax_Good
0             68833            50047  ...          0         1
1             33700           134075  ...          0         1
2             36925           160205  ...          0         1
3             50190           193264  ...          0         1
4             81002            27533  ...          0         1
..              ...              ...  ...        ...       ...
595           76340            39492  ...          0         1
596           69967            55369  ...          0         1
597           47334           154058  ...          0         1
598           98592           180083  ...          0         1
599           96519           158137  ...          0         1

[600 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit_transform(fraud.iloc[:,0:12])

array([[ 0.52036187, -1.17852072, -0.62914254, ...,  0.99335541,
        -0.51039612,  0.51039612],
       [-0.82146395,  0.50850002,  0.27636996, ...,  0.99335541,
        -0.51039612,  0.51039612],
       [-0.69829233,  1.03310911,  1.63463872, ...,  0.99335541,
        -0.51039612,  0.51039612],
       ...,
       [-0.30074402,  0.90969648, -1.76103318, ...,  0.99335541,
        -0.51039612,  0.51039612],
       [ 1.65693986,  1.43219749,  0.1631809 , ..., -1.00668904,
        -0.51039612,  0.51039612],
       [ 1.57776629,  0.9915901 ,  0.04999184, ..., -1.00668904,
        -0.51039612,  0.51039612]])

In [ ]:
fraud['Taxable.Income']=fraud['Taxable.Income'].astype('category')

In [ ]:
x=fraud.iloc[:,0:10]
y=fraud.iloc[:,10:12]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)

In [ ]:
# Train the model on training data
rf.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
y_pred=rf.predict(x_test)

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
results = cross_val_score(rf, x, y)
results.mean()

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.9883944052035829