<a href="https://colab.research.google.com/github/rahuldevkar5/Data_Science/blob/main/Support_Vector_Machine_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')

In [2]:
forestfire=pd.read_csv('/content/forestfires.csv')
forestfire.head()

  month  day  FFMC   DMC  ...  monthnov  monthoct  monthsep  size_category
0   mar  fri  86.2  26.2  ...         0         0         0          small
1   oct  tue  90.6  35.4  ...         0         1         0          small
2   oct  sat  90.6  43.7  ...         0         1         0          small
3   mar  fri  91.7  33.3  ...         0         0         0          small
4   mar  sun  89.3  51.3  ...         0         0         0          small

[5 rows x 31 columns]

In [3]:
forestfire.isnull().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [4]:
forestfire.columns

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')

In [5]:
columns=['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain', 'area',
       'dayfri', 'daymon', 'daysat', 'daysun', 'daythu', 'daytue', 'daywed',
       'monthapr', 'monthaug', 'monthdec', 'monthfeb', 'monthjan', 'monthjul',
       'monthjun', 'monthmar', 'monthmay', 'monthnov', 'monthoct', 'monthsep',
       'size_category_large', 'size_category_small']

In [ ]:
forestfire=forestfire.drop(columns=['dayfri', 'daymon', 'daysat', 'daysun', 'daythu', 'daytue', 'daywed',
       'monthapr', 'monthaug', 'monthdec', 'monthfeb', 'monthjan', 'monthjul',
       'monthjun', 'monthmar', 'monthmay', 'monthnov', 'monthoct', 'monthsep'])

In [8]:
forestfire

    month  day  FFMC    DMC     DC  ...  RH  wind  rain   area  size_category
0     mar  fri  86.2   26.2   94.3  ...  51   6.7   0.0   0.00          small
1     oct  tue  90.6   35.4  669.1  ...  33   0.9   0.0   0.00          small
2     oct  sat  90.6   43.7  686.9  ...  33   1.3   0.0   0.00          small
3     mar  fri  91.7   33.3   77.5  ...  97   4.0   0.2   0.00          small
4     mar  sun  89.3   51.3  102.2  ...  99   1.8   0.0   0.00          small
..    ...  ...   ...    ...    ...  ...  ..   ...   ...    ...            ...
512   aug  sun  81.6   56.7  665.6  ...  32   2.7   0.0   6.44          large
513   aug  sun  81.6   56.7  665.6  ...  71   5.8   0.0  54.29          large
514   aug  sun  81.6   56.7  665.6  ...  70   6.7   0.0  11.16          large
515   aug  sat  94.4  146.0  614.7  ...  42   4.0   0.0   0.00          small
516   nov  tue  79.5    3.0  106.7  ...  31   4.5   0.0   0.00          small

[517 rows x 12 columns]

In [10]:
X=forestfire.iloc[:,2:11]
y=forestfire.iloc[:,11]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [11]:
from sklearn import svm

clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [12]:
from sklearn.metrics import accuracy_score

y_pred=clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9824561403508771